input {
  width: 100%;
}

table {
  background-color: #cacaca;
  color: black;
  width: 80%;
}

td {
  color: black;
  border: black solid 1px;
  width: 30%;
}

th {
  padding: 8px;
}

#tabeSelect {
  padding: 8px;
}

#tabelDetail51 th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: red;
  color: white;
}

.aform.validation input.ng-untouched.ng-pristine {
  background-color: #ffff;
}

.aform.validation input.ng-dirty.ng-valid {
  background-color: #beb;
}

.aform.validation input.ng-invalid {
  background-color: #e8491d;
}

.validationError {
  display: inline-block;
  border: 1px solid;
  margin: 10px 0px;
  padding: 15px 10px 15px 60px;
  background-repeat: no-repeat;
  background-position: 15px center;
  color: #D63301;
  background-color: #FFCCBA;
  background-image: url('https://i.imgur.com/GnyDvKN.png');
}

.aform.validation input[type=checkbox].ng-invalid {
  margin-left: 48.5%;
  border: .5px gray solid;
  width: 12px;
  height: 12px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
