<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

<div class="container">
  <div class="row">
    <div class="col-2 text-left mt-3">
      <h4>Pick a date:</h4>
      <br>
      <form>
        <input type="date" id="date" name="date">
      </form>
    </div>
    <div class="col-8 text-center mt-3">
      <h4>Events</h4>
    </div>
    <div class="col-2 mt-3">
      <h4>Title</h4>
    </div>
  </div>
</div>
