<h3 class="mt-4 mb-2 ml-5">Overview of all Events</h3>

<div class="row mt-4">
  <div class="col-md-4 table-responsive">
    <table id="titelEventTabel" class="ml-5">
      <tr>
        <th>Event title</th>
      </tr>

      <tr *ngFor="let aevent of this.aEventsService.aEvents" (click)="selectedAEventId = aevent.id; onSelect(aevent.id)"
          [class.active]="aevent.id == selectedAEventId">
        <td>{{aevent.title}}</td>
      </tr>

    </table>
    <button (click)="handelClick()" class="btnAdd mt-4 mb-2">Add Event</button>
  </div>

  <div class="col-md-8">
    <router-outlet></router-outlet>
  </div>
</div>
