header {
  background-color: #f2efeb;
}

#title {
  position: relative;
  top: 20px;
  margin-left: 38%;
  font-family: Verdana;
  font-weight: 600;
  font-size: 36px;
  /*vertical-align: middle;*/
  /*text-align: center;*/
}

.sub-title {
  position: relative;
  float: right;
  font-style: italic;
  z-index: 2;
  left: 117px;
  top: 10px;
}

#logo-left {
  float: left;
}

#logo-right {
  float: right;
}

#time-left {
  float: left;
}
