<link href="/amsterdam-events/src/app/components/mainpage/header/header.component.css" rel="stylesheet"
      type="text/css"/>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

<header>
  <img id="logo-left" src="../assets/images/amsterdam-xxx-vector-logo-2.png" width="90px">

  <img id="logo-right" src="../assets/images/hero-office-netherlands-amsterdam-desktop.png" width="120px">
  <br>
  <br>
  <span class="sub-title">For all events in Amsterdam!</span>

  <h1 id="title">Amsterdam Events</h1>

  <nav id="navbar-primary" class="navbar navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-collapse" id="navbar-primary-collapse">
        <ul class="nav navbar">
          <li><a href="#">Home</a></li>
          <li><a href="#">My Events</a></li>
          <li><a href="#">My Registrations</a></li>
          <li><a href="#">My Account</a></li>
          <li><a href="#">Log in/out</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>
