header {
  background-color: #f2efeb;
}

#title {
  position: relative;
  top: 20px;
  margin-left: 38%;
  font-family: Verdana;
  font-weight: 600;
  font-size: 36px;
  /*vertical-align: middle;*/
  /*text-align: center;*/
}

.sub-title {
  position: relative;
  font-style: italic;
  z-index: 2;
  left: 1232px;
}

#logo-left {
  float: left;
  margin-top: -40px;
}

#logo-right {
  float: right;
  margin-top: -40px;
}

#time-left {
  position: absolute;
  z-index: 2;
  /* float: right; */
  left: 75px;
  text-align: left;
}
