<link href="/amsterdam-events/src/app/components/mainpage/header/header.component.css" rel="stylesheet"
      type="text/css"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<header>
  <img id="logo-left" src="../assets/images/amsterdam-xxx-vector-logo-2.png" width="90px">

  <img id="logo-right" src="../assets/images/hero-office-netherlands-amsterdam-desktop.png" width="120px">
  <br>
  <br>
  <span class="sub-title">For all events in Amsterdam!</span>

  <h1 id="title">Amsterdam Events</h1>

  <nav id="navbar-primary" class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-primary-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <div class="collapse navbar-collapse" id="navbar-primary-collapse">
        <ul class="nav navbar-nav">
          <li><a href="#">Home</a></li>
          <li><a href="#">My Events</a></li>
          <li><a href="#">My Registrations</a></li>
          <li><a href="#">My Account</a></li>
          <li><a href="#">Log in/out</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>
