.btnAdd {
  color: black;
  cursor: pointer;
  background-color: #DCDCDC;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  float: right;
}

.btnAdd:hover {
  background-color: dimgray;
}
