<h3 class="mt-4 mb-2 ml-5">List of all Events</h3>

<div class="col-12 mt-4 mb-5">
  <table class="table">
    <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Title</th>
      <th scope="col">Start</th>
      <th scope="col">End</th>
      <th scope="col">Status</th>
      <th scope="col">Entrance Fee</th>
      <th scope="col">Max Participants</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let aevent of aEvents">
      <td>{{aevent.id}}</td>
      <td>{{aevent.title}}</td>
      <td>{{aevent.start.toUTCString().slice(0, 22)}}</td>
      <td>{{aevent.end.toUTCString().slice(0, 22)}}</td>
      <td>{{aevent.status}}</td>
      <td>{{aevent.isTicketed == false ? "free" : "€ " + aevent.participationFee}}</td>
      <td>{{aevent.maxParticipants}}</td>
    </tr>
    </tbody>
  </table>

  <button (click)="handelClick()"
          class="btnAdd mb-4">Add Event
  </button>
</div>
