<div *ngIf="(editedEvent); else text">
  <table id="tabeSelect">
    <tr>
      <th>Selected Event details</th>
    </tr>

    <tr>
      <td>Title</td>
      <td><input type="text" [(ngModel)]="editedEvent.title"></td>
    <tr>

    <tr>
      <td>Description</td>
      <td><input type="text" [(ngModel)]="editedEvent.description"></td>
    </tr>

    <tr>
      <td>Status</td>
      <td>
        <select [(ngModel)]="editedEvent.status">
          <option>DRAFT</option>
          <option>CANCELED</option>
          <option>PUBLISHED</option>
        </select>
      </td>
    </tr>

    <tr>
      <td>Is Ticketed</td>
      <td class="checkbox"><input type="checkbox" [(ngModel)]="editedEvent.isTicketed"></td>
    </tr>

    <tr>
      <td>Participation Fee</td>
      <td><input type="text" [(ngModel)]="editedEvent.participationFee"></td>
    </tr>

    <tr>
      <td>Maximum Participants</td>
      <td><input type="text" [(ngModel)]="editedEvent.maxParticipants"></td>
    </tr>

  </table>
  <button (click)="removeEditedEvent()" class="btnDelete mt-2">Delete</button>
</div>

<ng-template #text>
  Select an event at the left
</ng-template>
